body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: black;
}

nav h1 {
    margin-left: 30px;
}

nav ul {
    margin-left: auto;
    margin-right: 5%;
}

nav li {
    float: left;
    margin-right: 30px;
    list-style: none;
}

nav a {
    position: relative;
    color: white;
    text-decoration: none;
}

nav a::before {
    position: absolute;
    content: "";
    visibility: hidden;
    background-color: white;
    width: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 0.7s ease-in-out;
}

nav a:hover::before {
    visibility: visible;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-top: 20%;
    margin-left: 13.5%;
    margin-right: 24px;
}

label {
    align-self: flex-start;
    margin-bottom: 10px;
    font-size: 20px;
}

input {
    align-self: flex-start;
    min-width: 0;
    border-radius: 5px;
    height: 35px;
    width: 13rem;
    padding-left: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}

#searchButton {
    align-self: flex-start;
    margin-bottom: 10px;
    width: 13.7rem;
    height: 35px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
}

#removeButton {
    align-self: flex-start;
    margin-bottom: 10px;
    width: 13.7rem;
    border-radius: 5px;
    height: 35px;
    background-color: rgb(226, 68, 68);
    color: white;
    font-size: 15px;
}

.directions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}


.directions h2 {
    margin-left: -35%;
}

.directions p {
    line-height: 1.8rem;
    margin-left: 48px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / 10;
    margin-left: 30px;
    margin-top: 30px;
}

.image {
    height: 200px;
    width: 200px;
    margin-right: 30px;
    margin-top: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.inner-container {
    grid-column: 10 / -1;
}

@media screen and (max-width: 1200px) {
    .inner-container form {
        margin-left: -2.8%;
    }

    section {
        margin-left: -20%;
    }
}

@media screen and (max-width: 992px) {
    .inner-container form {
        margin-left: -18.5%;
    }

    section {
        margin-left: -38%;
    }

    section p {
        margin-left: -48%;
    }
}

@media screen and (max-width: 850px) {
    .container {
        grid-template-columns: 1fr;
    }

    .inner-container form {
        margin-top: 10%;
        position: absolute;
        left: 25%;
    }

    .directions p {
        position: absolute;
        left: -5%;
        top: 40%;
        margin-top: 100px;
        margin-left: 11%;

    }

    .directions h2 {
        position: absolute;
        left: 41%;
        top: 40%;
        margin-top: 50px;
    }

    .content {
        position: absolute;
        top: 65%;
        width: 50%;
    }

    nav a {
        font-size: 13px;
    }

    .content img {
        width: 400px;
        height: 400px;
        margin-top: 10px;
        margin-right: 10px;
    }
}